@import url('https://fonts.googleapis.com/css?family=BhuTuka Expanded One');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=IBM Plex Mono');



 body{
    margin: 0%;
    position: static;
}

.Home{

    background: #355C7D;  
background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  
background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);

    height: 775px;
    width: 100%;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover; 
   
}

.navbar{
    
        width: 100%;
        background-color: black;
        overflow: hidden;
        position: fixed;
        top: 0;
        margin-left: 0%;
        z-index: auto;      
    }

      .navbar a {
        float: left;
        text-align: center;
        padding: 25px;
        color: white;
        text-decoration: none;
        font-size: 25px;
        font-family: 'Ubuntu';
        margin: 0px;
        top: 0;
        display: flex;
        justify-content: center;
           
      }

      a:hover{
        color: rgb(255, 42, 0);

        
      }
      
      @media screen and (max-width: 585px){
        .navbar{
            background-color: black;
            overflow: hidden;
            position: fixed;
            top: 0;
            margin-left: 0%;
            z-index: auto;
      }
        
      }

      @media screen and (max-width: 585px){
        .navbar a{float: left;
            text-align: center;
            padding:20px;
            color: white;
            text-decoration: none;
            font-size: 20px;
            font-family: 'Ubuntu';
            margin: 0px;
            top: 0;
            display: flex;
            justify-content: center;
      }
      }


.Bio{
    text-align: center;

    font-weight: bolder;
    text-shadow: white 8em;
    color: whitesmoke;
    
    
    margin-bottom: 0%;
    padding-bottom: 0%;
    padding-top: 155px;
    font-family: 'IBM Plex Mono';
    width: 100%;
}
img{
    max-width: 400px;
    max-height: 200px;
    
    border-radius: 15px;
    border: none;
    box-shadow:  3px 2px 3px 2px#e19508;
    display: block;
    justify-content: center;
    margin: auto;
}


 .happy{
    color:rgb(120, 2, 2);
    font-size: 0.6em;
 }

 .greeting{
   font-size: 4.5em;
   margin-bottom: 10px;
 }
 .Name{
font-size: 3em;
 }
 
.position{
    text-align: center;
    font-size: 1.7em;
    font-family: 'Ubuntu';
    font-weight: bold;
    color: rgb(123, 33, 4);
    text-decoration: none;
}

.button{
    
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    border: 4px solid whitesmoke;
    padding: 15px 38px;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    margin: 13px;
    
  }

  .buttons{
    text-align: center;
    text-decoration: none;
  
    
  }
.button:hover{
    background: linear-gradient(45deg, rgb(230, 173, 76), rgb(243, 238, 238));
    font-weight: bolder;
    border-color: black;
    color: #000013;
    text-decoration: none;
} 

.Name:hover{
 text-shadow: -5px -5px black ;
 cursor: pointer;

}

h3{
    text-align: center;
}


span{
    font-weight: bold;
}



input[type='button']{
display: flex;
flex-direction: row;
} 


/*  About me CSS Starts here*/
 .Info{

    background-image: linear-gradient( 68.3deg,  rgba(245,177,97,1) 0.4%, rgba(236,54,110,1)100.2%);
    height: 600px;
    width: 100%;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover; 
    
}

.aboutMe{

    max-width: 1024px;
    margin: auto;
    padding: 20px;
    
        
     
    
}

.flexbox{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 750px){
    .flexbox{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        
        
        font-size: smaller;
    }

    .Info{
        height: auto;
    }
}

h2{
    margin-bottom: 20px;
}


.honesty{
width: 50%;
margin-left: 4.2em;
justify-content: center;
display: block;

}



h2{
text-align: center;
font-family: 'IBM Plex Mono';
font-size: 3em;
}

h3{
text-align: center;
font-weight: bold;
font-size: 1.5em;
text-decoration: underline;
}

h3:hover{
text-decoration: none;
cursor: pointer;
}

.academicHonesty{
font-size: 1.2em;
}

.bold{
font-weight: bold;
}

.date{
font-size: 1.2em;
}

.CLGinfo{
font-size: 1.1em;

}

p{
display: block
}

    


/*Education and Skills CSS*/

 .Edu {
    
    height: 900px;
    width: 100%;
    background: #bdc3c7; 
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  
    background: linear-gradient(to right, #2c3e50, #bdc3c7); 

    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;


}

.school{
    width: 50%;
    height: 165px;
    font-weight: bold;
    font-size: 1em;
    color: purple;
    font-family: 'IBM Plex Mono' ;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 25%;
    
    
    padding: 10px;
    background-color: #eca726;
    border-radius: 0.4em;
}



.skills{
    font-size: 1.2em;
    color: #7eecbe;

    
}


/*Contact ME CSS*/ 

.Letsconnect{

    background: #403A3E;  
    background: -webkit-linear-gradient(to right, #BE5869, #403A3E); 
    background: linear-gradient(to right, #BE5869, #403A3E);
    width: 100%;
    padding: 30px; 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 1100px;
}


/* Ayush  */

.Letsconnect h1{
    font-family: 'BhuTuka Expanded One';
      padding: 4%;
      text-align: center;
      font-size: 4em;
      color: #fff;
      margin-top: 10px;
  }
  .Letsconnect{
      display:Flex;
      flex-direction: column;
      align-items: center;
  }
  .form label{
      font-size: 20px;
      color: whitesmoke;
      font-weight: bolder;
      font-family: 'IBM Plex Mono';
      font-weight: bold;
  
  }
  #email,#address,#text,#postal{
      height:2.5rem;
  }
  input{
      font-size: 1.5rem;
  }
  option{
      font-size:1rem;
  }
  .formButton{
      display:inline-flex;
      flex-wrap:wrap;
      gap:2rem;
      text-decoration: none;
  }
  #clear{
    text-transform: uppercase;
    text-align: center;
    color: whitesmoke;
    border: 4px solid whitesmoke;
    
    padding: 15px 38px;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    margin: 13px;
      
  }
  #submit{
    text-transform: uppercase;
    text-align: center;
    color: whitesmoke;
    border: 4px solid whitesmoke;
    
    padding: 15px 38px;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    margin: 13px;
    
  }
  #clear:hover{
      cursor: pointer;
      color:#ffffff;
      border-color: black;
  
  }
  #submit:hover{
      cursor: pointer;
      color:#fdfbfb;
      border-color: #000013;
  }
  #input{
      color: #6A0400;
  }
  #isvalid{
      color:red;
      border-color: #d00202;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  #Message{
      font-size: 1.25rem;
      width:355px;
  }
  
  #choice{
      font-size: 1.5rem;
      height:2.5rem;
      width:355px;
  
  }
  ::placeholder{
      font-family: 'Ubuntu';
      color: black;
      text-transform: lowercase;
      font-size: 1rem;
      opacity: .5;
  
  }
  













@media screen and (max-width:960px)
{
    .flex{
        display: block;
    }
    .aboutMe{
        width: 80%;
        height: auto;
        
    }

}

@media screen and (max-width:900px)
{
    .flex{
        display: block;
    }

}

@media screen and (max-width: 585px){
    .Home{
        height: auto;
    }

    .Info{
        height: auto;
    }

    .Letsconnect{
        height: auto;
    }
}

footer{
    text-align: center;
    font-size: larger;
    color: #bdc3c7;
}

.icons{
    
    text-align: center;
    
    
    
}

.navfooter{
    width: 100%;
        background-color: black;
        overflow: hidden;
        width:100%;
        top: 0;
        margin-left: 0%;
        z-index: auto; 
        padding: 30px;
        height: 80px;
}

@media screen and (max-width: 600px){
    .navfooter{
        background-color: black;
        overflow: hidden;
        width: 100%;
        top: 0;
        margin-left: 0%;
        margin-right: 0%;
        z-index: auto;
        height: 80px;
  }
    
  }